$text-color : #8a8a8a;
$subtitle-color: #343538;
$link-color: #444444;
$gray : #92b0c0;
$white  : #ffffff;
$bg-header: #282828;
$blue: #226ace;
$light-green: #3cbc21;
$hover-color: #526df9;
$purple: #8b23a9;
$dark-purple: #62378c;
$red: #e53939;
$gradient-green1: #78dbab;
$gradient-green2: #7bbdab;
$gradient-purple1: #818cab;
$gradiente-purple2: #856aaa;
$gradiente-pink1: #8a49aa;
$gradiente-pink2: #8e33aa;
/*
===============================
            Social
===============================
*/

$facebook-color: #43619b;
$facebook-hover: #5175BA;
$instagram-color: #6a453b;
$instagram-hover: #8B5B4D;
$twitter-color: #55acee;
$twitter-hover: #59B7FD;
$google-color: #dd4b39;
$linkedin-color: #0177B5;
$github-color: #6b6b6b;
$stackoverflow-color: #2F96E8;
$dribble-color: #F26798;
$behace-color: #0093FA;
$whatsapp-color: #00a500;
$whatsapp-hover: #01BD01;