html{
	width: 100%;
	overflow-x: hidden;
}

@include scrollbars(.5em, #282828, rgba(0, 0, 0, 0));

a, h1, h2, h3, h4, h5{
	@include animate(all, 320ms);
	&:hover,
	&:before,
	&:after{
		@include animate(all, 320ms);
		text-decoration: none;
		img{
			@include animate(all, 320ms);
		}
	}
	img{
		@include animate(all, 320ms);
	}
}

ul{
    list-style: none;
    padding-left: 0px;
    li{
    	list-style: none;
    }
}

h1, h2, h3{
	color: $text-color;
	font-family: $title-font;
}

h4, h5{
	color: $text-color;
	font-family: $subtitle-font;
}

p, span, i, b, time, small, caption{
	color: $text-color;
	font-family: $text-font;
}

li, a{
	color: $text-color;
	font-family: $subtitle-font;
}

.container{
	max-width: 1200px !important;
}

.gradient-text {
	font-size: 72px;
	background: -webkit-linear-gradient(#eee, #333);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.shadow-5{
	-webkit-box-shadow: 0px 15px 50px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 15px 50px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 15px 50px 0px rgba(0,0,0,0.3);
}

.hide-on-start{
	opacity: 0;
	@include animate(all, 2000ms);
}
.show{
	opacity: 1;
	@include animate(all, 2000ms);
}