@import 'variables';
@import 'typography';
@import 'colors';
@import 'mixins';
@import 'generic';

/*
===============================
            HEADER
===============================
*/

header{
    .logo{
        width: 250px;
        height: 214px;
        position: relative;
        z-index: 1;
        text-indent: -2000px; 
        display: inline-block;
        &:before{
            content: "";
            width: 655px;
            height: 244px;
            position: absolute;
            top: 0;
            left: -200px;
            background-image: url($images-root + 'logo-bg.png');
            z-index: -1;
        }
        a{
            text-indent: -2000px;
            width: 100%;
            height: 100%;
            display: block;
        }
        img{
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    .top-header{
        z-index: 2;
        padding-top: 35px;
        .social-header{
            .social-icon{
                width: 45px;
                height: 45px;                
                border-radius: 50%;
                position: relative;
                display: inline-block;
                 
                &.insta{
                    background-color: $instagram-color;
                    &:hover{
                        background-color: $instagram-hover;
                    } 
                    &:after{
                        content: "\F16D";
                        font-family: FontAwesome;
                        font-style: normal;
                        font-weight: normal;
                        text-decoration: inherit;
                        position: absolute;
                        font-size: 28px;
                        color: #ffffff;
                        top: 50%;
                        left: 50%;
                        margin: -21px 0 0 -12px;
                        z-index: 1;                     
                    }                    
                }
                &.tt{
                    background-color: $twitter-color;
                    &:hover{
                        background-color: $twitter-hover;
                    } 
                    &:after{
                        content: "\F099";
                        font-family: FontAwesome;
                        font-style: normal;
                        font-weight: normal;
                        text-decoration: inherit;
                        position: absolute;
                        font-size: 28px;
                        color: #ffffff;
                        top: 50%;
                        left: 50%;
                        margin: -21px 0 0 -13px;
                        z-index: 1;                      
                    }                    
                }
                &.face{
                    background-color: $facebook-color;
                    &:hover{
                        background-color: $facebook-hover;
                    } 
                    &:after{
                        content: "\F09A";
                        font-family: FontAwesome;
                        font-style: normal;
                        font-weight: normal;
                        text-decoration: inherit;
                        position: absolute;
                        font-size: 28px;
                        color: #ffffff;
                        top: 50%;
                        left: 50%;
                        margin: -20px 0 0 -9px;
                        z-index: 1;                     
                    }                
                }
                &.whats{
                    background-color: $whatsapp-color;
                    &:hover{
                        background-color: $whatsapp-hover;
                    } 
                    &:after{
                        content: "\F232";
                        font-family: FontAwesome;
                        font-style: normal;
                        font-weight: normal;
                        text-decoration: inherit;
                        position: absolute;
                        font-size: 28px;
                        color: #ffffff;
                        top: 50%;
                        left: 50%;
                        margin: -22px 0 0 -12px;
                        z-index: 1;                      
                    }                    
                }
            }
        }
    }
    .menu{
        li{
            display: inline-block;
        }        
    }
}

/*
===============================
            MAIN
===============================
*/

/*
===============================
            FOOTER
===============================
*/