@import 'variables';
@import 'typography';
@import 'colors';
@import 'mixins';
@import 'generic';

/*
===============================
            HEADER
===============================
*/

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    .logo{
        width: 250px;
        height: 214px;
        position: relative;
        z-index: 1;
        text-indent: -2000px; 
        display: inline-block;
        &:before{
            content: "";
            width: 655px;
            height: 244px;
            position: absolute;
            top: 0;
            left: -200px;
            background-image: url($images-root + 'logo-bg.png');
            z-index: -1;
        }
        a{
            text-indent: -2000px;
            width: 100%;
            height: 100%;
            display: block;
        }
        img{
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    .cont-lines{
        position: relative;
        z-index: 2;
    }
    .top-header{
        z-index: 2;
        padding-top: 35px;
        .social-header{
            .social-icon{
                width: 45px;
                height: 45px;                
                border-radius: 50%;
                position: relative;
                display: inline-block;
                margin-right: 5px;
                &.insta{
                    background-color: $instagram-color;
                    &:hover{
                        background-color: $instagram-hover;
                    } 
                    &:after{
                        content: "\F16D";
                        font-family: FontAwesome;
                        font-style: normal;
                        font-weight: normal;
                        text-decoration: inherit;
                        position: absolute;
                        font-size: 28px;
                        color: #ffffff;
                        top: 50%;
                        left: 50%;
                        margin: -21px 0 0 -12px;
                        z-index: 1;                     
                    }                    
                }
                &.tt{
                    background-color: $twitter-color;
                    &:hover{
                        background-color: $twitter-hover;
                    } 
                    &:after{
                        content: "\F099";
                        font-family: FontAwesome;
                        font-style: normal;
                        font-weight: normal;
                        text-decoration: inherit;
                        position: absolute;
                        font-size: 28px;
                        color: #ffffff;
                        top: 50%;
                        left: 50%;
                        margin: -21px 0 0 -13px;
                        z-index: 1;                      
                    }                    
                }
                &.face{
                    background-color: $facebook-color;
                    &:hover{
                        background-color: $facebook-hover;
                    } 
                    &:after{
                        content: "\F09A";
                        font-family: FontAwesome;
                        font-style: normal;
                        font-weight: normal;
                        text-decoration: inherit;
                        position: absolute;
                        font-size: 28px;
                        color: #ffffff;
                        top: 50%;
                        left: 50%;
                        margin: -20px 0 0 -9px;
                        z-index: 1;                     
                    }                
                }
                &.whats{
                    background-color: $whatsapp-color;
                    &:hover{
                        background-color: $whatsapp-hover;
                    } 
                    &:after{
                        content: "\F232";
                        font-family: FontAwesome;
                        font-style: normal;
                        font-weight: normal;
                        text-decoration: inherit;
                        position: absolute;
                        font-size: 28px;
                        color: #ffffff;
                        top: 50%;
                        left: 50%;
                        margin: -22px 0 0 -12px;
                        z-index: 1;                      
                    }                    
                }
            }
        }
        .menu-top-menu-container{
            .menu{
                li{
                    font-family: $subtitle-font;
                    position: relative;
                    a{
                        font-family: $subtitle-font;
                        padding: 14px 25px;
                        color: $white;
                        background-color: $blue;
                        font-weight: 700;
                        border-radius: 30px;
                        text-transform: uppercase;
                        font-size: 12px;
                        display: inline-block;
                        margin-left: 5px;
                        letter-spacing: 1px;
                        -webkit-box-shadow: 0px 15px 50px 0px rgba(0,0,0,0.3);
                        -moz-box-shadow: 0px 15px 50px 0px rgba(0,0,0,0.3);
                        box-shadow: 0px 15px 50px 0px rgba(0,0,0,0.3);
                        &:hover{
                            background-color: $hover-color;
                        }
                    }
                }                
            }
        }        
    }
    .menu{
        li{
            display: inline-block;
        }        
    }
    .main-menu{
        margin-top: 20px;    
        ul{
            li{
                padding: 15px;
                position: relative;
                &:hover{
                    background-color: $blue;
                    border-radius: 10px;                    
                    .sub-menu{
                        display: block;
                        opacity: 1;
                        @include animate(all, 320ms);
                    }                    
                }                
                a{
                    color: $white;
                    font-size: 17px;
                    margin-left: 0px;
                    display: inline-block;
                    font-family: $subtitle-font;   
                    &:hover{
                        color: $light-green2;
                    }              
                }
                &:first-child{
                    a{
                        margin-left: 0px;                        
                    }
                }
            }
        }
        .sub-menu{
            display: none;
            opacity: 0;
            position: absolute;
            width: 630px;
            background-color: $blue;
            padding: 15px 30px;
            left: 0px;
            top: 45px;
            -moz-column-count: 2;
            -moz-column-gap: 30px;
            -webkit-column-count: 2;
            -webkit-column-gap: 30px;
            column-count: 2;
            column-gap: 30px;    
            border-radius: 5px; 
            @include animate(all, 320ms);
            li{
                width: 100%;
                border-bottom: 1px solid #73a0d7;
                padding: 15px 0px;
                border-radius: 0px;
                &:nth-child(3), &:nth-child(6), &:nth-child(9){
                    border-bottom: none;
                }
                &:hover{
                    border-radius: 0px;
                }
                a{
                    font-weight: 300;
                }
            }
        }
    }
    .main-menu > div > ul > li:hover > a{
        color: $light-green2;
    }
}

.cont-fixed-menu{
    position: fixed;
    background-color: $blue;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 3;
    opacity: 0;
    pointer-events: none;
    @include animate(all, 320ms);
    &.show{
        opacity: 1;
        pointer-events: all;
        @include animate(all, 320ms);
    }
    .fixed-logo{
        display: inline-block;
        padding: 10px;
        padding-top: 5px;
    }
    .fixed-menu{
        display: inline-block;
        ul{
            display: flex;
            margin-bottom: 0px;
            li{
                padding: 15px;
                padding-top: 10px;
                position: relative;
                &:hover{
                    .sub-menu{
                        display: block;
                        opacity: 1;
                    }
                }
                a{
                    color: $white;
                    font-size: 0.8rem;
                    &:hover{                        
                        color: $light-green2;                        
                    }
                }
                .sub-menu{
                    display: none;
                    opacity: 0;
                    position: absolute;
                    width: 630px;
                    background-color: $blue;
                    padding: 15px 30px;
                    left: 0px;
                    top: 45px;
                    -moz-column-count: 2;
                    -moz-column-gap: 30px;
                    -webkit-column-count: 2;
                    -webkit-column-gap: 30px;
                    column-count: 2;
                    column-gap: 30px;    
                    border-radius: 5px; 
                    @include animate(all, 320ms);
                    li{
                        width: 100%;
                        border-bottom: 1px solid #73a0d7;
                        padding: 15px 0px;
                        border-radius: 0px;
                        &:nth-child(3), &:nth-child(6), &:nth-child(9){
                            border-bottom: none;
                        }
                        &:hover{
                            border-radius: 0px;
                        }
                        a{
                            font-weight: 300;
                        }
                    }
                }
            }
        }
    }
    .fixed-menu > div > ul > li:hover > a{
        color: $light-green2;
    }
}

/*
===============================
            MAIN
===============================
*/

.home-banner{
    width: 100%;
    height: 700px;
    background-image: url($images-root + 'home-bg.jpg');
    padding-top: 300px;
    text-align: center;
    background-position: center;
    h2{
        color: $white;
        font-size: 2.5rem;
        margin-bottom: 30px;
    }
    p{
        font-weight: 300;
        font-size: 18px;
        max-width: 650px;
        color: $white;
        display: inline-block;
        line-height: 25px;
        b{
            color: $white;
            font-weight: 600;
        }
    }
    .cont-bnt{
        width: 100%;
        text-align: center;
        display: block;
        .btn-plus{
            margin-top: 30px;
            font-size: 14px;
            color: $white;
            padding: 15px 90px;
            font-family: "Montserrat", sans-serif;
            display: inline-block;
            letter-spacing: 1px;
            text-transform: uppercase;
            font-weight: 700;
            border: 1px solid $white;
            border-radius: 40px;
            &:hover{
                background-color: $white;
                color: $blue;
            }
        }
    }
}

#blog{
    padding-top: 70px;
    padding-bottom: 30px;
    .posts-list{
        margin-top: 60px;
        padding-bottom: 40px;
        .post{
            @include transform(translateX(1000px));
            @include animate(all, 1000ms);
            opacity: 0;
            &.on-view{
                @include transform(translateX(0px));
                @include animate(all, 1000ms);
                opacity: 1;
            }            
            .post-thumbnail{
                height: 150px;
                overflow: hidden;
                margin-bottom: 15px;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    @include animate(all, 320ms);
                    &:hover{
                        opacity: 0.8;
                        width: 110%;
                        height: 110%;
                        margin-left: -5%;
                        margin-top: -5%;
                        @include animate(all, 320ms);
                    }
                }
            }
            h3{
                color: $blue;
                font-family: $subtitle-font;
                font-size: 1rem;
                font-weight: 700;
                letter-spacing: 0.5px;
                line-height: 23px;
                text-transform: uppercase;
                margin-bottom: 10px;
                a{
                    color: $blue;
                    font-family: $subtitle-font;
                    &:hover{
                        color: $hover-color;
                    }
                }
            }
            span{
                margin-bottom: 10px;
                display: block;
                font-size: 0.85rem;
            }
            small{
                padding-left: 22px;
                margin-bottom: 15px;
                display: block;
                background-image: url($images-root + 'icon-comments.png');
                background-repeat: no-repeat;
                background-position: left bottom;
                font-weight: 700;
            }
            p{
                line-height: 30px;
                a{
                    font-family: $text-font;
                    &:hover{
                        color: $blue;
                    }
                }
            }
            .cont-link-post{
                margin-top: 30px;
                .link-post{
                    color: $link-color;
                    font-family: $subtitle-font;
                    font-size: 0.9rem;
                    font-weight: 700;
                    letter-spacing: 0.5px;
                    line-height: 25px;
                    text-transform: uppercase;
                    position: relative;                    
                    &:before{
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 2px;
                        background-color: $link-color;
                        top: 0px;
                        left: 0px;
                    }
                    &:hover{
                        color: $hover-color;
                        &:before{
                            background-color: $hover-color;
                        }
                    }
                }
                .addtoany-cont{
                    margin-top: -10px;
                    .addtoany_shortcode{
                        outline: none;
                    }
                    .a2a_dd.addtoany_share_save{
                        outline: none;
                    }
                }
            }
        }
    }
}

#services{
    background-color: $light-gray;
    padding: 50px 0px;
    overflow: hidden;
    .list-services{
        margin-top: 50px;        
    }
}
.service{
    margin-bottom: 50px;
    .service-thumbnail{
        text-align: center;
        margin-bottom: 10px;
        a{
            width: 130px;
            height: 130px;
            border-radius: 50%;
            padding: 7px;
            border: 1.5px dashed transparent;
            box-sizing: content-box;
            display: inline-block;
            &:hover{
                border: 1.5px dashed $blue;
            }                
            img{
                width: 130px;
                height: 130px;
            }  
        }       
    }
    h3{
        text-align: center;
        font-weight: 700;
        a{
            color: $blue;
            font-size: 20px;
            &:hover{
                color: $hover-color;
            }
        }
    }
    p{
        text-align: center;
    }
}

#testimonials{
    height: 380px;
    background-image: url($images-root + 'bg-testimonial.jpg');    
    .carousel-testimonials{
        .testimonial{
            outline: none;
        }
        .quotes{
            margin-right: 20px;
        }
        .cont-person{
            margin-right: 30px;
            margin-top: 10px;
            .person-img{
                width: 105px;
                height: 105px;
                border-radius: 50%;
                position: relative;
                &:after{
                    content: "\F09A";
                    width: 28px;
                    height: 28px;
                    font-family: FontAwesome;
                    font-style: normal;
                    font-weight: normal;
                    text-decoration: inherit;
                    position: absolute;
                    font-size: 12px;
                    color: #ffffff;
                    top: 95%;
                    left: 75%;
                    margin: -20px 0 0 -9px;
                    background-color: $facebook-color;
                    text-align: center;
                    padding-top: 5px;
                    border-radius: 50%;
                    z-index: 1;                     
                }
            }
        }
        p{
            font-size: 1.2rem;
            line-height: 26px;
            font-weight: 400;
            color: $white;
            font-family: $title-font;
        }
        .cont-signature{
            span{
                font-size: 1.2rem;
                line-height: 26px;
                font-weight: 400;
                color: $white;
                font-family: $title-font;
                padding: 10px 40px;
                border: 1px solid $white;
                border-radius: 40px;
                margin-right: 20px;
                small{
                    font-size: 0.8rem;
                    color: $white;
                    font-family: $title-font;
                }
            }
        }
        .slick-prev {
            left: 0px;
            background-image: url($images-root + 'prev.png'); 
            width: 45px;
            height: 45px;
            z-index: 2;
            top: 85%;
            &:before{
                content: "";
                font-size: 0;
            }
        }
        .slick-next {
            right: 0px;
            background-image: url($images-root + 'next.png'); 
            width: 45px;
            height: 45px;
            z-index: 2;
            top: 85%;
            &:before{
                content: "";
                font-size: 0;
            }
        }
    }
}

#reservation{
    background-image: url($images-root + 'bg-reservation.jpg');
    background-position: center;
    background-repeat: no-repeat;
    padding: 70px 0px;
    p{
        text-align: center;
    }
    .cont-btn{
        text-align: center;
        .btn-reservation{
            color: $purple;
            display: inline-block;
            font-size: 0.9rem;
            font-family: $subtitle-font;
            padding: 14px 115px;
            padding-top: 17px;
            border-radius: 40px;
            border: 1px solid $purple;
            margin-top: 20px;
            &:hover{
                color: $white;
                background-color: $purple;
            }
        }
    }    
}

.title{
    font-size: 60px;
    color: $blue;
    text-align: center;
    display: flex;
    justify-content: center;
    &:before{
        content: "";
        background-image: url($images-root + 'icon-title.png');
        background-position: left;
        background-repeat: no-repeat;
        width: 48px;
        height: 61px;
        display: inline-block;
        margin-right: 10px;
    }
    &.text-left{
        text-align: left;
        justify-content: left;
    }
}

.title-description{
    font-family: $title-font;
    font-size: 1rem;
}

/*
===============================
            FOOTER
===============================
*/

footer{
    .logo-footer{
        margin-right: 50px;
    }
    .cont-footer{
        border-top: 1px dashed $pink;
        padding: 15px 0px;
    }
    .social-footer{
        .social-icon{
            width: 45px;
            height: 45px;                
            border-radius: 50%;
            position: relative;
            display: inline-block;
            margin-right: 5px;
            &.insta{
                background-color: $instagram-color;
                &:hover{
                    background-color: $instagram-hover;
                } 
                &:after{
                    content: "\F16D";
                    font-family: FontAwesome;
                    font-style: normal;
                    font-weight: normal;
                    text-decoration: inherit;
                    position: absolute;
                    font-size: 28px;
                    color: #ffffff;
                    top: 50%;
                    left: 50%;
                    margin: -21px 0 0 -12px;
                    z-index: 1;                     
                }                    
            }
            &.tt{
                background-color: $twitter-color;
                &:hover{
                    background-color: $twitter-hover;
                } 
                &:after{
                    content: "\F099";
                    font-family: FontAwesome;
                    font-style: normal;
                    font-weight: normal;
                    text-decoration: inherit;
                    position: absolute;
                    font-size: 28px;
                    color: #ffffff;
                    top: 50%;
                    left: 50%;
                    margin: -21px 0 0 -13px;
                    z-index: 1;                      
                }                    
            }
            &.face{
                background-color: $facebook-color;
                &:hover{
                    background-color: $facebook-hover;
                } 
                &:after{
                    content: "\F09A";
                    font-family: FontAwesome;
                    font-style: normal;
                    font-weight: normal;
                    text-decoration: inherit;
                    position: absolute;
                    font-size: 28px;
                    color: #ffffff;
                    top: 50%;
                    left: 50%;
                    margin: -20px 0 0 -9px;
                    z-index: 1;                     
                }                
            }
            &.whats{
                background-color: $whatsapp-color;
                &:hover{
                    background-color: $whatsapp-hover;
                } 
                &:after{
                    content: "\F232";
                    font-family: FontAwesome;
                    font-style: normal;
                    font-weight: normal;
                    text-decoration: inherit;
                    position: absolute;
                    font-size: 28px;
                    color: #ffffff;
                    top: 50%;
                    left: 50%;
                    margin: -22px 0 0 -12px;
                    z-index: 1;                      
                }                    
            }
        }
    }
    .infos-footer p{
        text-align: right;
        padding-right: 25px;
        background-position: right;
        background-repeat: no-repeat;
        position: relative;
        color: $dark-purple;
        font-size: 0.9rem;
        font-family: $subtitle-font;
        line-height: 20px;
        margin-bottom: 5px;
        &.address{
            &:after{
                content: "\f041";
                position: absolute;
                font-family: FontAwesome;
                right: 4px;
                color: $light-green;
            }
        }
        &.email{
            &:after{
                content: "\f0e0";
                position: absolute;
                font-family: FontAwesome;
                right: 0;
                color: $light-green;
            }
        }
        &.phone{
            &:after{
                content: "\f095";
                position: absolute;
                font-family: FontAwesome;
                right: 1px;
                color: $light-green;
            }
        }
    }
}


/*
===============================
          INNER PAGES
===============================
*/

/* BLOG */
@import 'blog';
@import "single";

.share-label{
    color: $blue;
    text-transform: uppercase;
    margin-left: auto;
}
.back-home{
    background-color: $blue;
    color: $white;
    line-height: 20px;
    padding: 5px 30px;
    border-radius: 40px;
    font-size: 0.8rem;
    align-self: center;
    font-weight: 500;
    &:hover{
        color: $white;
        background-color: $hover-color;
    }
}

/*
===============================
           SIDEBAR
===============================
*/

/* BLOG */
@import 'sidebar';
